
@media (max-width: 1200px) {

  .custom-line h2:before {
    width: 16px;
  }
}

@media (max-width: 992px) {

  /* Section custom */

  #custom {
    margin-top: 30px;
  }

  .plan {
    margin-top: 20px;

    &-item {
      &-txt {
        margin-top: 20px;
        font-size: 20px;
        line-height: 25px;
      }
    }
  }

  .custom-btn {
    margin: 50px auto;
    width: 180px;
    height: 44px;
    font-size: 14px;
  }

  /* Tittles for sections */

  .section {
    &-tittle {
      &-subtitle {
        span {
          font-size: 21px;
        }
      }

      &-line {
        h2 {
          font-size: 39px;

          &:before {
            width: 195px;
          }
        }
      }
    }
  }

  .custom-line h2:before {
    width: 16px;
  }
}