
@import '../../../style/mixins';

/* Section Custom */

#custom {
  height: 453px;
  margin-top: 120px;
}

.custom-line h2:before {
  content: "";
  width: 65px;
}

.plan {
  position: relative;
  margin-top: 64px;
  display: flex;
  justify-content: space-around;
  margin-right: 18px;

  &-item {
    &-img {
      &:before {
        content: '1';
        @include custom-num;
      }

      img {
        margin-left: -43px;
      }
    }

    &-txt {
      text-align: center;
      margin-top: 24px;
      font-size: 24px;
      line-height: 33px;
      color: #000000;
    }
  }

  &-num2 {
    &:before {
      content: '2';
      @include custom-num;
      top: 30px;
    }
  }

  &-num3 {
    &:before {
      content: '3';
      @include custom-num;
      top: 29px;
    }
  }

  &-num4 {
    &:before {
      content: '4';
      @include custom-num;
      top: 29px;
    }
  }
}

.custom-btn {
  display: block;
  margin: 64px auto;
  width: 212px;
  height: 50px;
}