/* Tittles for sections */
/* Section About */
#about {
  position: relative;
  height: 950px;
  margin-top: 120px;
}

.section-tittle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-tittle-subtitle span {
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  vertical-align: text-bottom;
  color: #3E3F43;
  margin-left: 2px;
}
.section-tittle-line h2 {
  font-weight: 800;
  font-size: 72px;
  line-height: 98px;
  color: rgba(34, 34, 34, 0.1);
}
.section-tittle-line h2:before {
  content: "";
  display: inline-block;
  width: 316px;
  vertical-align: super;
  border: 1px solid #000000;
  background-color: black;
}

.dishes {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.dishes-img {
  position: relative;
  width: 37.9%;
}
.dishes-img-bg {
  position: absolute;
  width: 76.9%;
  height: 100%;
  border-radius: 0 120px;
  background: #F7DEA6;
  z-index: -1;
}
.dishes-img img {
  width: 100%;
  margin: 98px 0 0 57px;
}
.dishes-txt {
  margin-top: 104px;
  padding-right: 12px;
  font-weight: 800;
  font-size: 36px;
  line-height: 49px;
  color: #3E3F43;
}
.dishes-txt h3 {
  font-weight: 600;
}
.dishes-txt h4 {
  margin-top: 16px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
}

.customized {
  position: relative;
  margin-top: 171px;
  color: #000000;
}
.customized h3 {
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
}
.customized h3 span {
  font-weight: 800;
}
.customized h4 {
  margin-top: 16px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}
.customized-img {
  position: absolute;
  width: 29.5%;
  right: -100px;
  top: -123px;
}
.customized-img img {
  width: 100%;
}

@media (max-width: 1200px) {
  /* Section About */
  #about {
    margin-top: 100px;
  }

  .dishes {
    margin-top: 35px;
  }

  .customized-img {
    right: -21px;
  }

  /* Big flower */
  .big-flower {
    left: 392px;
    top: 349px;
  }
  .big-flower-item {
    width: 126px;
    height: 146px;
  }
  .big-flower-item:nth-child(1), .big-flower-item:nth-child(4) {
    width: 146px;
    height: 126px;
  }
  .big-flower-about {
    left: -130px;
  }

  .section-tittle-line h2:before {
    width: 265px;
  }
}
@media (max-width: 992px) {
  /* Section About */
  #about {
    margin-top: 40px;
    height: 750px;
  }

  .dishes {
    margin-top: 15px;
  }
  .dishes-txt {
    margin-top: 70px;
    padding-right: 0;
  }
  .dishes-txt h3 {
    font-size: 29px;
    line-height: 42px;
  }
  .dishes-txt h4 {
    margin-top: 10px;
    font-size: 19px;
    line-height: 27px;
  }
  .dishes img {
    margin: 80px 0 0 44px;
  }

  .customized {
    margin-top: 134px;
  }
  .customized h3 {
    font-size: 29px;
    line-height: 42px;
  }
  .customized h4 {
    margin-top: 10px;
    font-size: 19px;
    line-height: 27px;
  }
  .customized-img {
    top: -87px;
    right: -11px;
  }

  /* Big flower */
  .big-flower {
    left: 325px;
    top: 311px;
  }
  .big-flower-item {
    width: 111px;
    height: 134px;
  }
  .big-flower-item:nth-child(1), .big-flower-item:nth-child(4) {
    width: 130px;
    height: 109px;
  }
  .big-flower-about {
    left: -130px;
  }

  /* Tittles for sections */
  .section-tittle-subtitle span {
    font-size: 21px;
  }
  .section-tittle-line h2 {
    font-size: 39px;
  }
  .section-tittle-line h2:before {
    width: 195px;
  }
}

/*# sourceMappingURL=about.css.map */
