

/*Footer section*/

.footer {
  height: 455px;
  margin-top: 120px;
  background: url('../../../assets/img/footer/footer-bg1.jpg') left top no-repeat,
  url("../../../assets/img/footer/footer-bg2.jpg") right top no-repeat;

  h4 {
    margin-top: 45px;
    font-weight: 600;
    font-size: 12px;
    color: #8D8D8D;
    text-align: center;
  }
  &Form {
    width: 100%;
    height: 174px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 104px 0 107px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);

    &Txt {
      color: #000000;

      h3 {
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
      }

      span {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
      }
    }

    form {
      input {
        float: left;
        padding-left: 16px;
        width: 328px;
        height: 40px;
        border: 1px solid #DAA520;
        border-radius: 4px 0 0 4px;

        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #AFAFAF;
      }

      button {
        width: 120px;
        height: 40px;
        background: #DAA520;
        border-radius: 0 4px 4px 0;
        border: none;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        color: #FFFFFF;
      }
    }
  }

  &Line {
    width: 708px;
    height: 0;
    margin-top: 33px;
    margin-left: 107px;
    border: 1px solid #C4C4C4;
  }

  &Menu {
    margin: 24px 336px 0 107px;
    display: flex;
    justify-content: space-between;

    &List {
      margin-left: -2px;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: #8D8D8D;

      &Item {
        margin-top: 16px;

        a {
          color: #8D8D8D;

          &:hover {
            color: #000000;
          }
        }

        &:first-child {
          margin-top: 9px;
          font-weight: 600;
          font-size: 18px;
          color: #333333;
        }
      }

      &:first-child {
        margin-top: -9px;
        line-height: 19px;

        h3 {
          display: inline;
          font-weight: 600;
          font-size: 24px;
          line-height: 30px;
          letter-spacing: 0.25em;
          color: #3E3F43;
          padding-left: 3px;
        }
      }
    }
  }
}


@media (max-width: 1200px) {

  /* Section Footer */

  .footer {
    margin-top: 100px;
    &Form {
      form {
        button {
          width: 80px;
          font-size: 15px;
        }

        input {
          width: 190px;
          font-size: 15px;
        }
      }

      &Txt {
        h3 {
          font-size: 17px;
        }

        span {
          font-size: 15px;
        }
      }
    }

    &Menu {
      margin-right: 290px;

      &List {
        font-size: 12px;

        :first-child {
          h3 {
            font-size: 21px;
            letter-spacing: .16em;
          }
        }
      }
    }
  }

  footer {
    margin-right: 10px;
  }
}

@media (max-width: 992px) {

  /* Section Footer */

  .footer {
    margin-top: 0;
    &Form {
      form {

        button {
          width: 70px;
          height: 35px;
          font-size: 14px;
        }

        input {
          width: 175px;
          height: 35px;
          font-size: 14px;
        }
      }

      &Txt {
        max-width: 235px;

        h3 {
          font-size: 17px;
        }

        span {
          font-size: 15px;

          br {
            display: none;
          }
        }
      }
    }

    &Menu {
      margin-right: 107px;

      &-list {
        font-size: 12px;
        line-height: 20px;

        :first-child {
          margin-top: 0;
          h3 {
            font-size: 18px;
            line-height: 33px;
          }
        }
      }
    }
  }

  .footer {
    background: url('../../../assets/img/footer/footer-bg2.jpg') center center/cover no-repeat;
  }

  footer {
    margin-right: 10px;
  }
}