
/*Footer section*/

.footer {
  height: 455px;
  margin-top: 120px;
  background: url('../../../assets/img/footer/footer-bg1.jpg') left top no-repeat,
  url("../../../assets/img/footer/footer-bg2.jpg") right top no-repeat;

  h4 {
    margin-top: 45px;
    font-weight: 600;
    font-size: 12px;
    color: #8D8D8D;
    text-align: center;
  }

  &Line {
    width: 708px;
    height: 0;
    margin-top: 33px;
    margin-left: 107px;
    border: 1px solid #C4C4C4;
  }
}

@media (max-width: 1200px) {

  /* Section Footer */

  .footer {
    margin-top: 100px;
  }

  footer {
    margin-right: 10px;
  }
}

@media (max-width: 992px) {

  /* Section Footer */

  .footer {
    margin-top: 0;
  }

  .footer {
    background: url('../../../assets/img/footer/footer-bg2.jpg') center center/cover no-repeat;
  }

  footer {
    margin-right: 10px;
  }
}