

.header {
  &-nav {
    &-menu {
      display: flex;
      align-items: center;
      padding-right: 28px;
      padding-top: 23px;

      &:last-child {
        padding-right: 28px;
      }
    }
  }
}