
/* Section Categories */

.categories {
  height: 978px;
  margin-top: 120px;
}

.categoriesLine h2:before {
  content: "";
  width: 202px;
}

@media (max-width: 1200px) {

  /* Section Categories */

  .categories {
    margin-top: 100px;
  }

  .categoriesLine h2:before {
    width: 140px;
  }
}

@media (max-width: 992px) {

  /* Section Categories */

  .categories {
    height: 800px;
    margin-top: 0;
  }

  .categoriesLine h2:before {
    width: 110px;
  }
}
