
@import "mixins";

/* Styles for small flower */

.small-flower {
  display: inline-block;
  width: 36px;
  height: 33px;
  margin-top: 9px;

  &-item {
    @include small-flower;
  }
}

/* Styles for big flower */

.big-flower {
  position: absolute;
  width: 382px;
  height: 382px;
  left: 523px;
  top: 420px;

  &-about {
    left: -166px;
    top: 412px;
    overflow: hidden;
    background-position: 0 50%;
  }

  &-item {
    @include big-flower
  }
}

/* All orange flowers and buttons */

.orange {
  border-color: #DAA520;

  &-btn {
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    color: #FFFFFF;
    background: #DAA520;

    &:hover {
      opacity: 80%;
      background-color: #DAA520;
    }
  }

  &-flower {
    &-header {
      margin-top: 0;
    }

    &-footer {
      margin-top: -1px;
    }
  }
}