/* Header, navigation menuList */

.header {
  position: relative;
  height: 800px;

  &PinkBg {
    position: absolute;
    width: 32.2%;
    height: 800px;
    right: -1px;
    top: -1px;
    border-bottom-left-radius: 117px;
    background: #F9BDBD;
    z-index: -1;
  }

  &Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &Woodies {
      display: flex;
      margin-left: 80px;
      padding-top: 10px;

      span {
        padding-left: 8px;
        font-weight: 700;
        font-size: 24px;
        letter-spacing: 0.25em;
        padding-top: 4px;
        color: #3E3F43;
      }
    }
  }
}


@media (max-width: 992px) {

  /* Header, navigation menuList */

  .header {
    &PinkBg {
      height: 800px;
    }

    &NavWoodies {
      margin-left: 35px;

      a {
        font-size: 17px;
        letter-spacing: .17em;
      }
    }
  }
}