
/* Header, navigation menuList */

#header {
  position: relative;
  height: 800px;
}

.header {
  &-pink-bg {
    position: absolute;
    width: 32.2%;
    height: 800px;
    right: -1px;
    top: -1px;
    border-bottom-left-radius: 117px;
    background: #F9BDBD;
    z-index: -1;
  }

  &-nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-woodies {
      display: flex;
      margin-left: 80px;

      .small-flower {
        padding-top: 0;
      }

      span {
        padding-left: 1px;
        font-weight: 700;
        font-size: 24px;
        letter-spacing: 0.25em;
        line-height: 35px;
        color: #3E3F43;

        &:hover {
          color: #000000;
        }
      }
    }
  }
}


@media (max-width: 1200px) {

  /* Header, navigation menuList */

  .header-nav {
    &-woodies {
      margin-left: 25px;

      a {
        font-size: 22px;
        letter-spacing: .22em;
      }
    }

    &-menu {
      &:last-child {
        padding-right: 10px;
      }

      &-btn {
        margin-left: 28px;
        height: 35px;
        width: 120px;
        font-size: 14px;
      }

      &-item a {
        margin-left: 20px;
        font-size: 16px;
      }
    }
  }

  /* Header, promo part */

  .header-promo {
    padding-top: 60px;
    padding-left: 40px;

    &-txt {
      width: 52%;

      &-btn {
        width: 155px;
        height: 42px;
        margin-left: 0;
        margin-top: 14px;
        font-size: 14px;
      }

      &-furniture {
        font-size: 32px;
        line-height: 46px;
      }

      &-place {
        margin-top: 14px;
        font-size: 63px;
        line-height: 78px;
      }
    }

    &-img-table img {
      width: 107%;
    }
  }

  /* Big flower */

  .big-flower {
    left: 392px;
    top: 349px;

    &-item {
      width: 126px;
      height: 146px;

      &:nth-child(1), &:nth-child(4) {
        width: 146px;
        height: 126px;
      }
    }

    &-about {
      left: -130px;
    }
  }
}

@media (max-width: 992px) {

  /* Header, navigation menuList */

  .header {
    &-pink-bg {
      height: 800px;
    }

    &-nav {
      &-woodies {
        margin-left: 35px;

        a {
          font-size: 17px;
          letter-spacing: .17em;
        }
      }

      &-menu {

        &:last-child {
          padding-right: 10px;
        }

        &-btn {
          margin-left: 13px;
          height: 29px;
          width: 100px;
          font-size: 13px;
        }

        &-item a {
          margin-left: 13px;
          font-size: 13px;
        }
      }
    }

    &-promo {
      padding-top: 40px;

      &-txt {
        width: 75%;
        padding: 52px 0 149px 0;

        &-furniture {
          font-size: 24px;
          line-height: 39px;
        }

        &-place {
          margin-top: 12px;
          font-size: 53px;
          line-height: 70px;
        }

        &-btn {
          width: 137px;
          height: 36px;
          margin-left: 0;
          margin-top: 12px;
          font-size: 12px;
        }
      }

      img {
        width: 107%;
      }
    }
  }

  /* Big flower */

  .big-flower {
    left: 325px;
    top: 311px;

    &-item {
      width: 111px;
      height: 134px;

      &:nth-child(1), &:nth-child(4) {
        width: 130px;
        height: 109px;
      }
    }

    &-about {
      left: -130px;
    }
  }
}