

.header {
  &-nav {
    &-menu {
      &-item a {
        margin-left: 48px;
        font-weight: 400;
        font-size: 16px;
        color: rgba(34, 34, 34, 0.75);

        &:hover {
          color: #000000;
        }
      }

      &-btn {
        margin-left: 48px;
        height: 40px;
        width: 137px;
        background: #F9BDBD;
        border: 1px solid #3E3F43;
        border-radius: 8px;
        font-family: Nunito, sans-serif;
        font-size: 16px;

        &:hover {
          background-color: #DAA520;
        }
      }
    }
  }
}
