
/* Right arrow(section name - testimony) */

.arrow {
  &-left {
    div {
      position: relative;
      display: block;
      top: 8px;
      width: 32px;
      left: 0;
      border: 1px solid #C4C4C4;
    }

    ::after {
      content: '';
      position: absolute;
      width: 4px;
      top: -3px;
      right: 25px;
      transform: rotate(-45deg);
      border: 1px solid #C4C4C4;
    }

    ::before {
      content: '';
      position: absolute;
      width: 4px;
      top: 1px;
      right: 25px;
      transform: rotate(45deg);
      border: 1px solid #C4C4C4;
    }
  }

  &-right {
    div {
      position: relative;
      display: block;
      top: 8px;
      width: 32px;
      left: 100px;
      border: 1px solid #3E3F43;
    }

    ::after {
      content: '';
      position: absolute;
      width: 4px;
      top: -3px;
      right: -3px;
      transform: rotate(45deg);
      border: 1px solid #3E3F43;
    }

    ::before {
      content: '';
      position: absolute;
      width: 4px;
      top: 1px;
      right: -3px;
      transform: rotate(-45deg);
      border: 1px solid #3E3F43;
    }
  }
}