
@import "../../../styles/mixins";

/* Styles for big flower */

.bigFlower {
  position: absolute;
  width: 382px;
  height: 382px;
  left: 523px;
  top: 420px;

  &About {
    left: -166px;
    top: 412px;
    overflow: hidden;
    background-position: 0 50%;
  }

  &Item {
    @include bigFlower
  }
}