
@import '../../../styles/mixins';

/* Styles for small flower */

.smallFlower {
  display: inline-block;
  width: 36px;
  height: 33px;
  padding-top: 9px;

  &Item {
    @include smallFlower;
  }
}